  body{font-family:sans-serif;}
.drop-down-menu{padding:0;
margin:0; background-color:rgb(255, 255, 255);
text-align:center;
box-sizing:border-box;
}

.drop-down-menu ul{display:inline-flex; list-style:none;}
.drop-down-menu ul li{ margin:0.5em; padding:0.5em; font-size:150%;}
.drop-down-menu ul li a{text-decoration:none; color:#808080;text-align:center;}
.drop-down-menu ul li a:hover {color:#000; border-radius:0.1em;}
.sub-menu-1{display:none;}
.drop-down-menu ul li:hover .sub-menu-1 {display:block; position:absolute; background-color:rgb(200,200,200); margin-top:0.5em; margin-left:-0.5em;}
.drop-down-menu ul li:hover .sub-menu-1 ul{display:block;margin:0.2;}
.sub-menu-2{display:none; color:#808080}
.drop-down-menu ul li:hover .sub-menu-2 {display:block; position:absolute; background-color:rgb(200,200,200); margin-top:0.5em; margin-left:-0.5em;}
.drop-down-menu ul li:hover .sub-menu-2 ul{display:block;margin:0.2;}
 .active {color:#000 !important;} 
body{background-color:rgb(173, 216, 255);}
